body
{
    background: rgb(207, 207, 207);
    margin: 0;
    padding: 0;

}

hr
{
    width: 80pc;
    height: 70px;
    position: relative;
    top: 0px;

    display: none;

}

.haha
{
    margin-top: 15rem;
}

#btn1Button,
#btn2Button,
#btn3Button
{
    width: 200px;
    height: 60px;
    background: rgba(65, 61, 61, 0.459);
    position: relative;
    top: 20px;
    left: 400px;
    border-radius: 20px;
    box-shadow: 5px, 5px, 5px, 5px rgb(0, 0, 0);

}

#btn1Button:hover
{
    cursor: pointer;
    transition: 2s;
    background-color: grey;
}
#btn2Button:hover
{
    cursor: pointer;
    transition: 2s;
    background-color: grey;
}
#btn3Button:hover
{
    cursor: pointer;
    transition: 2s;
    background-color: grey;
}

.text1
{
    width: 400px;
    font-size: xx-large;
    font-family: monospace;
    position: relative;
    top: 40px;
    left: 10%;
    display: block;}

.text2
{
    width: 400px;
    font-size: xx-large;
    font-family: monospace;
    position: relative;
    top: 40px;
    left: 70px;
    display: block;
}

.text3
{
    width: 400px;
    font-size: xx-large;
    font-family: monospace;
    position: relative;
    top: 40px;
    left: 70px;
    display: block;
}

.leftscreen
{
    width: 35rem;
    height: 460px;
    border-radius: 1rem;
    background: rgb(68, 67, 67);
    position: absolute;
    top:180px;
    left: 90px;
    display: block;
    box-shadow: 5px 5px 10px black;
}

.rigthscreen
{
    width: 35rem;
    height: 460px;
    border-radius: 1rem;
    background: rgb(68, 67, 67);
    position: absolute;
    top: 180px;
    left: 700px;
    display: block;
    box-shadow: 5px 5px 10px black;
}

.amg
{
    width: 260px;
    position: relative;
    top: 15px;
    left: 10px;
}

.fun
{
    width: 1200px;
    height: 480px;
    border-radius: 1rem;
    position: relative;
    top: -170px;
    left: 75px;
    background: rgba(63, 63, 63, 0.541);
    display: block;
}

.cabeça
{
    height: 100px;
    background: rgba(0, 0, 0, 0.541);
}

.info
{
    font-size: larger;
    font-family: monospace;
    position: relative;
    top: 15pc;
}

.com
{
    background-color: rgb(89, 0, 255);
}

.foto
{
    position: absolute;
    top: 2rem;
    left: 10rem;

    border-radius: 100px;
}

.progressBar
{
    background: #a3a3a3c5;
    width: 80%;
    height: 2rem;
    margin-left: 50%;
    transform: translate(-50%,0);
    border-radius: 24px;
}

.progressBar div
{
    background: rgb(199, 199, 199);
    position: absolute;
    height: 2rem;
    border-radius: 24px;
}

.comu
{
    width: 25%;
}

.lid
{
    width: 40%;
}
.criativo
{
    width: 60%;
}
.te
{
    width: 70%;
}

.Tr
{
    position: relative;
    left: 28%;
}
h2
{
    position: relative;
    left: 35%;
}